@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;900&display=swap');

/*---------- General ----------*/
 body {
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
    /* background-color: white; */
    color: black;
    font-size: 25px;
    background-image: url("../img/fond1.jpg");  
    transition: 300ms ease-in-o;
    /* background-size: auto; */
    /* background-color: rgb(255, 255, 255); */
}  

section {
    padding: 1%;
    margin-top: 6%;
}

ul {
    margin: 0%;
    padding: 0%;
    border: solid 2px red;
    list-style-type: none;
} 

.centerHr {
    display: flex;
    justify-content: center;
}


hr {
    width: 70%;
}


/*---------- DarkMode ----------*/
  
  .dark-mode {
    /* background-color: black; */
    background-image: url("../img/fond2.jpg");
    color: white;
    transition: 300ms ease-in-out;
  }


/* header */
.logoHeader {
    width: 9%;
    border: solid 1px rgb(175, 175, 212);
    margin: 0%;
    padding: 2%;
   
}

h1 {
    background-color: aqua;
    color: white;
    font-family: 'Montserrat', sans-serif;
}

.headerMenu {
    display: flex;
    justify-content: center;
    font-family: 'Montserrat', sans-serif;
}

.headerMenu a {
    padding: 2%;
    margin: 0%;
    text-decoration: none;
}

article {
    border:solid 3px goldenrod;
}

/* footer */
footer {
    display: flex;
    margin: 3%;
}

.hdp {

    padding: 1%;
    margin:0%;
    width: 8%;
    background-color: rgba(255, 255, 0, 0.527);
    border-radius: 10%;
}

/*----- page Index (accueil) -----*/

.presentation {
    text-align: center;
    margin-top: 10%;
    
}

.welc {
    font-family: 'Blinker', sans-serif;
    font-size: 4rem;
    animation: inherit;
    color: linear-gradient(45deg, white 10%, black 90%);
    animation: wheelHueColor 7s infinite;
    
}

@keyframes wheelHueColor {
    from, to { color: hsl(324, 70%, 45%); }
    50%      { color: hsl(144, 75%, 35%); }
    60%      { color: hsl(180, 75%, 35%); }
    70%      { color: hsl(216, 60%, 45%); }
    80%      { color: hsl(252, 65%, 50%); }
    90%      { color: hsl(288, 60%, 40%); }
  }

.welcSt {
    font-family: 'Blinker', sans-serif;
    font-size: 26px;
    text-align: center;
    margin: 3%;
    margin-right: 15%;
    margin-left: 15%;
}

a{
    text-decoration: none !important;
}

.col {
    margin: 1%;
    background-color: rgba(149, 15, 211, 0.151);
    border-top-right-radius: 4%;
    border-top-left-radius:  4% ;
    border-bottom-left-radius: 4%;
    border-bottom-right-radius: 4%;
    border-right: 4%;
    border-left: 4%;
}

.box {
    transition: 0.6s ease-in-out;
  }

.logoComp {
    width: 45%;
}

.souligneTitre {
align-self: center;
}

.illustrationProjets {
    width: 64%;
    border-radius: 2%;
    border: solid 1px grey;
    color: white;
}

.divArticle {
    display: flex;
    justify-content: center;
}

.divArticle article {
    text-align: center;
    font-family: 'Montserrat', sans-serif;
}


/*----- page Contacts -----*/

.logo {
    width: 17%;
    border: solid 1px blue;
    margin: 0%;
    padding: 0%;
}

.logosContact a {
     margin: 0%;
    padding: 0%; 
}

.logosContact {
    border: solid red 1px;
    margin: 0%;
    padding: 0%;
    display: flex;
    justify-content: space-around;
}

.logosContact div {
    text-align: center;
}

.texteContact {
    font-family: 'Montserrat', sans-serif;
}




/*----- page Competences -----*/

.titresCompetences {
    /* font-family: 'Roboto', sans-serif; */
    font-family: 'Montserrat', sans-serif;
    font-size: 24px;
}

.graph {
   width: 40vw;
   height: 40vh;
   border: solid orange 1px;
   background: rgb(238, 238, 238);
   display: flex;
   align-items: flex-end;
   border-radius: 2%;
   margin: 1%;
}

.phonegraph {
    display:none
}

.bar {
    flex-grow: 1;
    border: solid 2% rgb(214, 13, 13);
    margin: 1%;
}

.bar p{
text-align: center;
font-size: 88%;
}

.bar1 {
    height: 95%;
    border-top-left-radius: 10%;
    border-top-right-radius: 10%;
    background-color: lightblue;
}

.bar2 {
    height: 89%;
    border-top-left-radius: 10%;
    border-top-right-radius: 10%;
    background-color: lightgreen;

}

.bar3 {
    height: 58%;
    border-top-left-radius: 10%;
    border-top-right-radius: 10%;
    background-color: yellow;

}

.bar4{
    height: 69%;
    border-top-left-radius: 10%;
    border-top-right-radius: 10%;
    background-color: cyan;

}

.bar5 {
    height: 59%;
    border-top-left-radius: 10%;
    border-top-right-radius: 10%;
    background-color: red;

}

.bar6 {
    height: 9%;
    border-top-left-radius: 10%;
    border-top-right-radius: 10%;
    background-color: purple;

}

.bar7 {
    height: 64%;
    border-top-left-radius: 10%;
    border-top-right-radius: 10%;
    background-color: grey;

}

.bar8 {
    height: 64%;
    border-top-left-radius: 10%;
    border-top-right-radius: 10%;
    background-color: green;

}

/* graph 1 */

 #graph
{
    position:relative;
    width:660px;
    height:216px;
    margin:8px;
    padding:0;	
}

#graph ul
{
    position:absolute;
    top:0;
    left:32px;
    width:35vw;
    height:200px;
    border-left:1px solid black;
    border-bottom:1px solid black;	
}

#graph li
{
   position:absolute;	
   list-style:none;
   background:rgb(245, 55, 55);
   width:40px;
   text-align:center;
   border:1px solid black;
   visibility: hidden;
}

#labels {
    display: flex;
    flex-direction: column;

}

/*       fin         */



.listeTechnos {
    padding: 2%;
    font-family: 'Montserrat', sans-serif;
}

.sectionCompetences {
    border: solid 3px rgb(120, 8, 185);
    display: flex;
    flex-direction: column;

}

.articleCompetences {
    display: flex;
    justify-content: center;
}

.articleAgile {
    display: flex;
    justify-content: left;
    padding: 2%;
    padding-left: 9%;
}

.articleDocker {
    display: flex;
    justify-content: right;
    padding-right: 9%;
}

.articleOpquast {
    display: flex;
    justify-content: left;
    padding: 2%;
    padding-left: 9%;
}

.articleOpenoffice {
    display: flex;
    justify-content: right;
    padding-right: 9%;
}

.logosComp {
    height: 23%;
    width: 18%;
}

article p {
    padding: 2%
}

/*  VVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVV  */
/*  VVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVV  */

/* Menu burger de nav */
.sidenav {
    height: 100%;
    width: 250px;
    position: fixed;
    z-index: 1;
    top: 0;
    right: -250px;
    background-color: #e8e8e8;
    padding-top: 60px;
    transition: left 0.9s ease;
  }
  
  /* Sidenav menu links */
  .sidenav a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 25px;
    color: #818181;
    display: block;
    transition: 0.8s;
  }
  
  .sidenav a:hover {
    color: #111;
  }
  
  .sidenav ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
  }
  
  /* Active class */
  .sidenav.active {
    right: 0;
  }
  
  /* Close btn */
  .sidenav .close {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
  }
  
  /* Icône burger */
  .burger-icon span {
    display: block;
    width: 35px;
    height: 5px;
    background-color: black;
    margin: 6px 0;
  }


  .headerMenuBurger {
    display: none;
  }
  

/* ---------- Medi@ Queries ---------- */
  
  @media only screen and (max-width: 800px) {
    body {
      background-color: lightblue;
    }
    .headerMenuBurger{
        display: contents;
        display: flex;
        justify-content: right;
    }

    .headerMenu {
        display: none;
    }

    .logoHeader {
        width: 20%;
        border: solid 1px blue;
        margin: 0%;
        padding: 2%;
    }

/* index */

    .divArticle {
        flex-wrap: wrap;
    }

    .welcSt {
        
        font-size: 20px;
        margin-right: 11%;
        margin-left: 11%;
    }

/*  competences */
.graph {
    width: 85vw;
   height: 30vh; 
}


.logosComp {
    height: 50%;
    width: 30%;
}


#graph{	
    display: none;
}

.articleCompetences {
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.absysse {
    display: none;
}

.phonegraph {
    display:contents
}


/* Graphs fin ----------------*/


  }

  /* ---------- Hover ---------- */
  .navColor:hover {
    color: yellow;
  }

  .divArticle article a img:hover {
    border: solid 2px orange;
  }

  
  .logo:hover {
    border: solid 1px yellow;
    border-radius: 11%;
  }

  .col:hover {
    background-color: rgba(45, 219, 231, 0.3);
        transition: 1s ease-in-out;
     
}

   #box2:hover {
    rotate: y 360deg;
  }
  
  #box3:hover {
    rotate: 1 2 1 360deg;
  }


/* #box1:hover {
    rotate: 360deg;
  } */

  
/* TEST XXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXX*/ 




  