@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;900&display=swap');

/*---------- General ----------*/
html {
    margin: 0;
    padding: 0;
    scroll-behavior: smooth;
}

 body {
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
    scroll-behavior: smooth;
    /* background-color: white; */
    color: black;
    font-size: 25px;
    background-image: url("../img/fond1.jpg");  
    transition: 300ms ease-in-o;
    /* background-size: auto; */
    /* background-color: rgb(255, 255, 255); */
 

}  

section {
    padding: 1%;
    margin-top: 6%;
}

ul {
    margin: 0%;
    padding: 0%;
    border: solid 2px red;
    list-style-type: none;
} 

.flex {
   display: flex;
}

.jcc {
    justify-content: center;
}

.centerHr {
    justify-content: center;
}

hr {
    width: 70%;
}
/*---------- xxxxxxxx ----------*/

/*---------- DarkMode ----------*/
  .dark-mode {
    /* background-color: black; */
    background-image: url("../img/fond2.jpg");
    color: white;
    transition: 200ms ease-in-out; 
  
  }

  
/*---------- xxxxxxx ----------*/


/* header */
.entete {
    justify-content: space-around;
}


.logoHeader {
    width: 25%;
    margin: 0%;
    padding: 1%;
}


/* _Button darkmode__________________________ */

.button {
  display: inline-block;
  border-radius: 4px;
  background-color: #1ef4e96b;
  border: none;
  color: #000000;
  font-weight: bolder;
  text-align: center;
  font-size: 13px;
  padding: 7px;
  width: 140px;
  transition: all 0.5s;
  cursor: pointer;
  margin: 3px;
  vertical-align:middle;
  height: 40%;
  
}

.button span {
  cursor: pointer;
  display: inline-block;
  position: relative;
  transition: 0.5s;
}

.button span:after {
  content: '\00bb';
  position: absolute;
  opacity: 0;
  top: 0;
  right: -0px;
  transition: 0.5s;
}

.button:hover span {
  padding-right: 20px;
}

.button:hover span:after {
  opacity: 1;
  right: 0;
}

/* xxxxxxxx__________________________ */


.h1modifs {
    font-family: 'Montserrat', sans-serif;
    font-size: 300%;
    padding-right: 14%;
}

h1 {
    font-family: 'Montserrat', sans-serif;
}

/* sticky header xxxxx */
.stickyHeader {
    transition: 0.4s;
    
}

.sticky {
    transition: 0.9s;
    background: #bd0de049;
    position: fixed;
    top: 0;
    width: 100%
  }

  .sticky + .content {
    padding-top: 102px;
  }

  /* xxxxxxxxxxxxxxxxx */
.gifs {
    text-align: center;
}

.gifProject {
    width: 26%;
}

.gifComp {
    width: 26%;
}

.gifPres {
    width: 23%;
}


.avatar{
    width: 12%;
}

#avatar {
    visibility: hidden;
}


/* footer */
footer {
    margin: 3%;
}


/* bouton pour remonter haut de page */
 
#scrollUp {
    position: fixed;
    width: 25px;
    height: 25px;
    bottom: 60px;
    right: 60px;
  }
  #scrollUp img {
    width: 230%;
  }

  #scrollUp img:hover {
    color: orange;
  }
                      
/* XXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXX*/


/*----- page Index (accueil) -----*/

.presentation {
    text-align: center;
    margin-top: 3%;
    
}

.welc {
    font-family: 'Blinker', sans-serif;
    font-size: 4rem;
    animation: inherit;
    color: linear-gradient(45deg, white 10%, black 90%);
    animation: wheelHueColor 7s infinite;
    padding: 0%;
    margin: 0%;
    
}

@keyframes wheelHueColor {
    from, to { color: hsl(324, 70%, 45%); }
    50%      { color: hsl(144, 75%, 35%); }
    60%      { color: hsl(180, 75%, 35%); }
    70%      { color: hsl(216, 60%, 45%); }
    80%      { color: hsl(252, 65%, 50%); }
    90%      { color: hsl(288, 60%, 40%); }
  }

.welcSt {
    font-family: 'Blinker', sans-serif;
    font-size: 26px;
    text-align: center;
    margin-right: 15%;
    margin-left: 15%;
}

.cont {
    padding-left: 3%;
    padding-right: 3%;
    margin-left: 3%;
    margin-right: 3%;
}

a{
    text-decoration: none !important;
    color: orange;
}

a div p{
    color: orange;
}

.opquast {
    color: orange;
}

.col {
    margin:1%;
    background-color: rgba(149, 15, 211, 0.096);
    border-top-right-radius: 4%;
    border-top-left-radius:  4% ;
    border-bottom-left-radius: 4%;
    border-bottom-right-radius: 4%;
    border-right: 4%;
    border-left: 4%;  
}


.box {
    transition: 0.6s ease-in-out;
}


.logoTechnos {
    width: 38%;
}

.logosComp {
    
    width: 13%;
}


.souligneTitre {
align-self: center;
}

.illustrationProjets {
    width: 64%;
    border-radius: 2%;
    border: solid 1px grey;
    color: white;
}

.divArticle {
    justify-content: center;
    display: none;
}

.divArticle article {
    text-align: center;
    font-family: 'Montserrat', sans-serif;
}




.logo {
    width: 17%;
    /* border: solid 1px blue; */
    margin: 0%;
    padding: 0%;
}

.logosContact a {
     margin: 0%;
    padding: 0%; 
}


.logosContact div {
    text-align: center;
}


.titresCompetences {
    /* font-family: 'Roboto', sans-serif; */
    font-family: 'Montserrat', sans-serif;
    font-size: 21px;
}


.articleAgile {
    justify-content: left;
    padding: 1%;
    margin-left: 9%;
    margin-top: 1%;
    margin-bottom: 1%;
}

.articleDocker {
    justify-content: right;
    padding: 1%;
    margin-right: 9%;
    margin-top: 1%;
    margin-bottom: 1%;
    
}

.articleOpquast {
    justify-content: left;
    padding: 1%;
    margin-left: 9%;
    margin-top: 1%;
    margin-bottom: 1%;
}

.articleOpenoffice {
    justify-content: right;
    padding: 1%;
    margin-right: 9%;
    margin-top: 1%;
    margin-bottom: 1%;
}


article p {
    padding: 2%
}


/* ---------- xxxxxxxxxxxxx ---------- */
/* ---------- Medi@ Queries ---------- */
  
  @media only screen and (max-width: 800px) {
    body {
      background-color: lightblue;
    }
   
    .headerMenu {
        display: none;
    }

    .logoHeader {
        width: 55%;
        margin: 0%;
        padding: 2%;
    }

    .h1modifs {
        font-family: 'Montserrat', sans-serif;
        font-size: 250%;
        padding-right: 7%;
    }

    .button {
      
        font-size: 13px;
        padding: 5px;
        width: 74%;
      }


    .logo {
        width: 29%;
        margin: 0%;
        padding: 0%;
    }

    .gifProject {
        width: 49%;
    }
    
    .gifComp {
        width: 49%;
    }
    
    .gifPres {
        width: 46%;
    }

    .avatar{
        width: 25%;
    }
    

/* index */

    .divArticle {
        display: contents;
        flex-wrap: wrap;
    }

    .welc {
        font-size: 3rem;
    }

    .welcSt {
        
        font-size: 20px;
        margin-right: 11%;
        margin-left: 11%;
    }

    .col {
        margin:0%;
        padding:0%;
       
    }


    .centrage {
        width:83%;
    }

    .projectsHidden {
        display: none;
    }

    .titresCompetences {
        font-size: 14px;
    }

    
/*  competences */

.logosComp {
    height: 50%;
    width: 30%;
}


.absysse {
    display: none;
}

  }


  /* ---------- xxxxx ---------- */
  /* ---------- Hover ---------- */

  .divArticle article a img:hover {
    border: solid 2px orange;
  }

  
  .logo:hover {
    border: solid 1px yellow;
    border-radius: 11%;
  }

  .col:hover {
    background-color: rgba(45, 219, 231, 0.3);
        transition: 1s ease-in-out;
     
}

   #box2:hover {
    rotate: y 360deg;
  }
  
  #box3:hover {
    rotate: 1 2 1 360deg;
  }


/* #box1:hover {
    rotate: 360deg;
  } */

  
/* TEST XXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXX*/ 




  